.Github-Search {
    width: 415px;
    height: 81px;
    font-family: Monaco;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.Github-Search .text-style-1 {
    font-family: Raleway-Extra-Light-Italic;
    font-weight: 200;
    font-style: italic;
}