.Result {
    width: 98vw;
    padding-bottom: 60px;
}

.form {
    max-width: 750px;
}

.user-name {
    width: 280px;
    height: 40px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.user-picture {
    width: 21vw;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1366px) {
    .user-picture {
        width: 25vw !important;
    }
}

@media only screen and (max-width: 700px) {
    .user-picture {
        width: 55vw !important;
    }
}

.user-details {
    height: 22px;
    color: #5c5c5c;
    width: 280px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.repo-name {
    height: 40.8px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
}

.repo-description {
    height: 25.5px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.not-found-container {
  height: 35vh;
}